<ul class="side-nav fixed">
		<h3>Profiles</h3>
		<a class="add-profile" role="add profile" href="javascript:void(0);"><i class="material-icons">playlist_add</i></a>
		<%= render 'profiles/profiles_list' %>
</ul>
<div class="" id="user-name-title">
	<h3><%= user.email %></h3>
	<%= link_to user.notifications_active, user_twilios_path(user), {method: 'post', class: "waves-effect waves-light btn"} %>
</div>
<div id="show-container">
	<div id="contacts-row" class="row">
		<div id="contacts-box" class="col s12">
			<h3>Add Contacts</h3>
			<%= render 'contacts/form', contact: @contact %>

			<div class="" id="user-contacts">
				<h3>
					Contacts
				</h3>
				<%= render 'contacts/contacts_list' %>
			</div>
		</div>
	</div>
</div>
