<div class="" id="user-name-title">
	<h3><%= user.email %></h3>
	<%= link_to user.notifications_active, user_twilios_path(user), {method: 'post', class: "waves-effect waves-light btn"} %>
</div>
<div id="show-container">
	<div id="contacts-row" class="row">
		<div id="contacts-box" class="col s12">
			<h3>Add Contacts</h3>
			<%= render 'contacts/form', contact: @contact %>

			<div class="" id="user-contacts">
				<h3> Contacts </h3>
					<%= render 'contacts/contacts_list' %>
			</div>
		</div>
	</div>

	<div id="profiles-row" class="row">
		<div id="profile-box" class="col s12">
			<div class="" id="add-profile">
				<h3>Add Profile</h3>
				<%= render 'profiles/form', profile: @user_profile, profile_contact_joins: @profile_contact_joins  %>
			</div>
			<div class="" id="user-profiles">
				<h3> Profiles </h3>
				<div>
					<%= render 'profiles/profiles_list' %>
				</div>
			</div>
		</div>
	</div>
</div>
