<div class="row <%= controller_name %> <%= action_name %>">
	<div id="show-container" class="col s12">
		<div class="row">
			<div class="col l9 s12">
				<div class="" id="location-activate">
					<%= link_to user.notifications_active, user_twilios_path(user), method: 'post', class: "waves-effect waves-light btn", id: :toggle_notifications, :data => {user: user.id} %>
					<div class="maps" id="map"></div>
				</div>
			</div>
			<div class="col l3 s12 profile-sidbar">
				<ul class="">
					<h3>Profiles</h3>
					<a class="add-profile" role="add profile" href="javascript:void(0);">
						<i class="material-icons">playlist_add</i>
					</a>
					<%= render 'profiles/profiles_list' %>
				</ul>
			</div>
		</div>

		<div id="contacts-row" class="row">
			<div id="contacts-box" class="col s12">
				<h3>Add Contacts</h3>
				<%= render 'contacts/form', contact: @contact %>

				<div class="" id="user-contacts">
					<h3>
						Contacts
					</h3>
					<%= render 'contacts/contacts_list' %>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- modal -->
<div id="add-profile-modal" class="modal-container">
	<div class="modal-content">
		<div class="modal-head">
			<a href="javascript:void(0);">
				<i class="material-icons">close
				</i>
			</a>
			<h3>Add Profile</h3>
		</div>
		<div class="modal-body">
			<%= render 'profiles/form', profile: @user_profile, profile_contact_joins: @profile_contact_joins  %>
		</div>
		<div class="modal-footer"></div>
	</div>
</div>
