<div class="" id="user-name-title">
	<h2><%= user.email%></h2>
</div>

<div class="" id="add-contact">
	<h3>Add Contacts</h3>
	<%= render 'contacts/create_contact_form' %>
</div>

<div class="" id="user-contacts">
	<h3> Contacts </h3>
	<p>
		<% user.contacts.each do |contact| %>
		<p>
			<%= contact.first_name %> <%= contact.last_name%>
			<%= contact.nickname %>
			<%= contact.relationship %>
			<%= contact.email %>
			<% contact.phones.each do |phone| %>
				<%= phone.phone_type %>
				<%= phone.phone_number %>
			<% end %>	
		</p>
		<% end %>
	</p>
</div>