<% user.contacts.each do |user_contact| %>
  <% if user_contact.id %>
    <div class="card horizontal">
      <div class="card-image">
        <img src="">
      </div>
      <div class="card-stacked">
        <p><%= user_contact.first_name %> <%= user_contact.last_name%></p>
        <p><%= user_contact.nickname %></p>
        <p><%= user_contact.relationship %></p>
        <p><%= user_contact.email %></p>
        <% user_contact.phones.each do |phone| %>
          <p><%= phone.phone_type %></p>
          <p><%= phone.phone_number %></p>
        <% end %>
        <p><%= link_to 'Edit', edit_user_contact_path(user,user_contact) %></p>
        <p><%= link_to 'Delete', user_contact_path(user,user_contact), method: :delete %></p>
      </div>
    </div>
  <% end %>
<% end %>
