<!DOCTYPE html>
<html>
  <head>
    <title>Bacon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"%>
  </head>

  <body>
	  <nav>
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo right">Logo</a>
	      <ul id="nav-mobile" class="left hide-on-med-and-down tabs tabs-transparent">
	        <li class="tab"><a href="#test1">Home</a></li>
	        <li class="tab">
	        	<%= link_to "Self", current_user ? edit_user_path(current_user) : "#",{"target" => "_self"} %>
	        </li>
	        <li class="tab"><a href="#test3">Contacts</a></li>
	        <li class="tab"><a href="#test4">Profiles</a></li>
      	</ul>
	    </div>
	  </nav>
		<% if current_user %>
					<%= link_to "Log Out", destroy_user_session_path, {class: "right", method: "delete"} %>
	      <% end %>
	  <% if notice %>
	  	<p class="alert alert-success"><%= notice %></p>
	  <% end %>
	  <% if alert %>
	  	<p class="alert alert-danger"><%= alert %></p>
	  <% end %>

	  <%= yield %>

	  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"%>
  </body>
</html>
