<!DOCTYPE html>
<html>
  <head>
      <title>Bacon</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <!-- unfortunatly in order to pass props to react from the view without using a react rails gem you need to create a dive with data attr's attached and pluck it out in the react component -->
    <%= content_tag :div,
        id: 'navigation',
        data: {
          root_path: root_path,
          edit_user_path: edit_user_path(current_user),
          user_contacts_path: user_contacts_path(current_user),
          destroy_user_session_path: destroy_user_session_path,
          current_user: current_user
        }.to_json do %>
    <% end %>
    <div class='navigation'>
      <%= javascript_pack_tag 'components/navbar' %>
    </div>

    <!-- <nav class="" id="application_nav">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <h4>Beacon</h4>
    </nav> -->
    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div>
        <%= yield %>
    </div>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS']}" %>
    <%= javascript_pack_tag 'hello_react' %>
  </body>
</html>
