<!DOCTYPE html>
<html>
    <head>
        <title>Bacon</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"%>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <div class="navbar-fixed">
            <nav class="fixed" id="application_nav">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo right">Logo</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li>
                            <%= link_to "Home", root_path %>
                        </li>
                        <li>
                            <%= link_to "Edit User", edit_user_path(current_user) %>
                        </li>
                        <li>
                            <a href="#">hello</a>
                        </li>
                        <li>
                            <a href="#">hello</a>
                        </li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li>
                            <a href="sass.html">Sass</a>
                        </li>
                        <li>
                            <a href="badges.html">Components</a>
                        </li>
                        <li>
                            <a href="collapsible.html">JavaScript</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <% if current_user %>
            <%= link_to "Log Out", destroy_user_session_path, {class: "right", method: "delete"} %>
            <% end %>
            <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
            <% end %>
            <div class="container">
                <%= yield %>
            </div>

            <!-- modal -->
            <div id="add-profile-modal" class="modal-container">
                <div class="modal-content">
                    <div class="modal-head">
                        <a href="javascript:void(0);">
                            <i class="material-icons">close
                            </i>
                        </a>
                        <h3>Add Profile</h3>
                    </div>
                    <div class="modal-body">
                        <%= render 'profiles/form', profile: @user_profile, profile_contact_joins: @profile_contact_joins  %>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>

            <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"%>
        </body>
    </html>
